Tutorial_001_SAMD21_USB_Serial/.vs/
Tutorial_001_SAMD21_USB_Serial/SAMD21J18A_ASF4_USBSERIAL/Debug/
Tutorial_002_SAMD51_USB_Serial/.vs/
Tutorial_002_SAMD51_USB_Serial/SAMD51_ASF4_USBSERIAL/Debug/
Tutorial_003_SAMD51_USB_Serial_Pt2/.vs/
Tutorial_003_SAMD51_USB_Serial_Pt2/SAMD51J19A_ASF4_USBSERIAL/Debug/
Tutorial_003_SAMD51_USB_Serial_Pt2/SAMD51J19A_ASF4_USBSERIAL/.vscode/
Tutorial_004_SAMD51_WINC3400_StationMode/.vs/
Tutorial_004_SAMD51_WINC3400_StationMode/SAMD51P19A_ASF4_WINC3400/Debug/
